*{
  margin:0;
  padding:0; 
  box-sizing: border-box;  
}
html{
    scroll-behavior: smooth;
}


 #encabezado img {
    width: 200px;
    max-height: 250px;
    border: 1px solid red;
    margin: auto;
}
