*{
  margin:0;
  padding:0; 
  box-sizing: border-box;  
}
html{
    scroll-behavior: smooth;
}
.nunito,p{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    padding: 0;
  }  
body{
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color:whitesmoke;
    margin-left: auto;
    margin-right:auto;
  
    border: 1px solid red;
}
img{
    min-height: 70%;
    width: 100%;      
}
label{
    color:red;
    font-size: 1.2rem;
}
h2{
    color:blueviolet;
    width:100%;    
}
#encabezado{
    display: flex;
    flex-direction: column;
    margin:auto;
    text-align: center;
    max-width: 100%;
}
a{
    text-decoration: none;
}
nav{
    
    margin:auto;
}
nav ul{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;   
    max-width:100%;
    margin: auto;
    background-color: orangered;
    font-size: 2rem; 
    font-weight: bolder;       
    list-style-type:none;
    padding:2rem; 
    gap:.7rem;  
    }
iframe{
   display: flex;
   flex-direction: column;
   justify-content: right;
   align-items: right;
   
}
.contenedor-iframe{
     border:1px solid red;
     display:flex;
     flex-direction: column;
     
}
.contenedor-texto-p1{
    display:flex;
    justify-content: flex-start;
    flex-wrap:wrap;
    max-width: 60%;
    margin: auto;
    border: 0rem solid black;
}    
#section-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    border: 0rem solid white;
    margin: .5rem;    
}
.espaciado-div{
    max-width: 5%;
    background-color:azure;
}
.tabla{
    display: flex;
    flex-direction: column;
    background-color:rgba(255,99,71,0.5);
    color:blueviolet;
    border-width:0.1em;
    border-color: red;
    border-style: double;
    margin: .16%;
    width:100%;
}
.tabla span{
    font-size: 1.5rem;
    color: blue;
}

main {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content:start;        
    flex-basis: auto; 
    max-width: 100%; 
    min-width: 300px;   
}
#iconos {
    width: 3rem;
    height: 3rem;
    padding-top: .6rem;
    margin: .5rem;    
}
.section-lo-mejor{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: auto;
    flex-wrap: wrap;
    margin: auto;
       
}
 .contenedor-texto-p1 p{
    display: flex;
    flex-direction: column;
   
    text-indent:3%;
    justify-content: center;
    align-self:self-start ;
    width: 100%;
    margin: auto;    
}
.texto-justificado{
    text-align:justify;
      
    
}
#section-2{
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:nowrap;
    margin: 1rem;
}
#section-2 >h2{
    justify-content:center;
    align-items : center;
    width: 100%;
    height: 10%;     
    margin: 1%;         
}

#section-2 .contenedor-text2 p{
    width: 95%;
    height: 80%;
     text-indent:3%;
     text-align: justify;
}
.musica-gratis{
    border:.2rem solid white;
}   

nav ul li a:hover{
    background-color:whitesmoke;    
}
.section-3{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color:rgb(146, 157, 83);
    width: 100%;
    max-height: 30%; 
    padding: .2rem;  
    margin-top: .8rem; 
    flex-basis: auto;
}
.container-mapa{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 150px;
    align-content: center;
    margin: auto;
   
}

.productos{   
    display: flex;
    flex-direction: column;   
    background-color: aquamarine;
    width: 60%;
    min-height: 20px;
    margin: .1rem;

}
.section-3 .productos .titulo-container p{
 height: 2rem;
 width: 100%;
 font-size: 1.7rem;
 justify-content: center; 
 padding: .5rem; 
}
.section-3 .productos .card-container{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-evenly;
flex-basis: auto;
max-height: 100%;
max-width: 100%;  
 margin: .5rem;

}
.section-3 .productos .card-container .card{
 border-radius: 50px;   
  max-width: 18rem;  
  object-fit:cover ;  
}
.section-3 .productos .card-container .card img{
  border-radius: 3%;   
  max-width: 18rem;  
  object-fit:cover ;
  margin: .1rem;     
}
#titulo-direccion{
    display:flex;
    flex-direction: column;
    align-items: center;  
    flex-basis: auto;
    flex-wrap: wrap;
    margin:.2rem .4rem;
    background-color: aquamarine;
   
}
  #p-direccion{  
    font-size:1.9rem;
    
}  
.container-mapa{
    width: 100%;
}

.container-video-muñon{
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 2rem;
}

div .container-curso-guitarra .curso-guitarra-electrica-2025{
  color: black;
  font-weight: bolder;
  font-size: .7rem;
  margin-top: -.3rem;  
}
.div-contenedor-curso-precio{
    background-color:grey;
    max-width: 100%;
    height: 20%;
    border-radius:10%;
    margin: auto;
}
div .pre-container-curso-guitarra{ 
 width: 60%;
 border-radius: 5%;
 max-height: 10%;
 margin: auto; 
 padding-bottom: .7rem;                                             
}    
div .container-curso-guitarra .precio-curso-guitarra-electrica{
    font-weight: 400;
}
.efecto{
    background-color: whitesmoke;
    width: 100%;   
}
.efecto button{
    background-color: blanchedalmond;
    border: .1rem solid darkolivegreen;
    padding: .5rem;
}
.efecto button:hover{
    background-color: white;
    font-size: 1rem;
    border-radius: 15%;
}
.formulario{
    display: grid;
    grid-auto-columns: 1fr 40% 1fr;
    grid-template-rows: 10% 10% 10%;
    justify-content: space-around;
    max-width: 100vw;
    height: 80vh;
}
#titulo-formulario{
    font-size:1.5rem;    
    text-align: center;
    margin: .5rem;
    text-decoration: underline;
}
.items{
    margin: 0rem;
    padding: .1rem;
    min-width: 400px;
    max-height: 100vh;
}
#contenedor-de-reseñas{
    display: flex;
    background-color: aquamarine;
    width: 100%;
    border: 1px solid red;
    height: 100px;
}
footer {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    background-color: blueviolet;
    border: dodgerblue;
    width: 80%;
    max-height: 60vh;
    margin:auto;
     
}
.footer-copyRight{
    display: flex;
}

.fecha{
    width:70% ;
    margin: left;
    
    align-content:center;
   
}
.text-fecha{    
    width: 100%;
    height:100%;     
    margin:auto;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
 
    text-align: left;
}