.darkBackGround{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(92, 211, 142);
    max-width: 100vw;
    min-height: 100vh;
}